{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="container">
    <h1>Страница про нас</h1>
     <h6>Перед вами работа двух увлечённых кулинарией партнёров. Это был долгий путь изучения культуры здорового
            питания. И теперь мы решили помочь каждому из вас, создав наилучший сайт по сравнению с аналогами. Здесь вы
            увидите множество замечательных рецептов, проверенных нами, сможете пообщаться на форуме, тут же вычислить
            свой ИМТ (что поможет вам для точного подбора диеты), узнать различные кулинарные игры, с помощью которых
            можно освоить навыки кулинарии.</h6>
        <p class="aligncenter">
            <img src="static/image/about.jpg" width="70%"/>
        </p>
</div>
{% endblock %}
