{% extends 'base.html' %}

{% block title %}
    Кулинарные игры
{% endblock %}

{% block body %}
    <h1>Кулинарные игры</h1>
    <h6><p>Вы всегда мечтали научиться готовить вкусные блюда, но не знали, с чего начать? Тогда виртуальные кулинарные
        игры — это то, что вам нужно! В них вы сможете не только улучшить свои навыки приготовления пищи, но и
        погрузиться в увлекательный мир кулинарии. Такие игры помогут вам развить творческое мышление, научиться
        организовывать рабочий процесс и придумывать новые рецепты.</p>

        <p>Виртуальные игры, где можно готовить еду, предлагают широкий выбор кулинарных приключений. Вы сможете стать
            поваром в знаменитых ресторанах, готовить экзотические блюда на островах или даже устроиться на работу в
            космическом кафе! Вам придется следовать рецептам, правильно сочетать ингредиенты и следить за временем
            приготовления. В конечном итоге, виртуальные кулинарные игры помогут вам улучшить не только навыки готовки,
            но и показать вашу скорость и координацию.</p>

        <p>Не забывайте, что виртуальные кулинарные игры — это не только увлекательное развлечение, но и отличная
            возможность изучить множество рецептов и кулинарных приемов. Вы сможете узнать больше о различных кухнях
            мира,
            экспериментировать с новыми продуктами и специями, а также узнать много интересного о кулинарной истории
            разных
            стран.</p>

        <p>Ниже представлены лучшие игры про кулинарию.</p>
    </h6>
    <h4 class="aligncenter">Cooking Simulator</h4>
    <h7><p>Самый детальный и реалистичный симулятор повара, поскольку здесь вы будете хозяйничать на кухне с видом от
        первого лица, а такие процессы, как нарезка, жарка и даже банальное открытие банки с мясом не являются
        автоматическими. Более 80 рецептов, десятки реально существующих ингредиентов и специй, обилие техники и
        кухонной утвари – здесь вы почувствуете себя настоящим поваром.</p></h7>
    <p class="aligncenter">
        <img src="static/image/cookingsimulator.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Cooking Mama</h4>
    <h7><p>Это симулятор готовки, включающий различные мини-игры. В каждой из них игрок должен слушать указания Мамы,
        используя те или иные кнопки для нарезки, смешивания или подачи блюд. У каждого рецепта есть свое ограничение по
        времени, а ошибки в шагах недопустимы.</p></h7>
    <p class="aligncenter">
        <img src="static/image/cookingmama.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Restaurant Empire 2</h4>
    <h7><p>Старый, но очень качественный и интересный симулятор ресторана, выпущенный для персональных компьютеров в
        2009 году. Игра оказалась настолько замечательной, что до сих пор присутствует в библиотеке Steam, позволяя
        современным игрокам погрузиться в глубины кулинарного искусства и ресторанного бизнеса, пусть и в рамках
        виртуального мира</p></h7>
    <p class="aligncenter">
        <img src="static/image/restaurantempire2.jpg" alt="изображение в центре параграфа"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Chef Life: A Restaurant Simulator</h4>
    <h7><p>Вам предстоит создавать новые рецепты классической французской, итальянской и международной кухни. Сначала
        они будут простыми, но если их улучшить, то приготовление становится сложнее, а оттого и интереснее.</p></h7>
    <p class="aligncenter">
        <img src="static/image/cheflife.jpg" alt="изображение в центре параграфа"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Cook, serve, delicious! 3</h4>
    <h7><p>На сей раз игроков ждёт путешествие в собственном ресторане на колёсах и участие в соответствующем
        чемпионате. Действие игры происходит в преобразившейся военной Америке 2042 года, и вас ждёт новая сюжетная
        кампания, где нужно готовить сотни блюд, включая совершенно новые в серии, на сотнях уровней.</p></h7>
    <p class="aligncenter">
        <img src="static/image/cook.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Patiala babes: Cooking cafe</h4>
    <h7><p>Это игра посвящена индийской кухне. Принимайте заказы клиентов и готовьте заказанные блюда, не допуская
        ошибок в рецептах и используя верные ингредиенты.</p></h7>
    <p class="aligncenter">
        <img src="static/image/patiala.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Смешарики. Кулинария</h4>
    <h7><p>Ежик, Лосяш и Копатыч решили всерьез заняться заготовкой и приготовлением самой различной еды. Необходимо
        помочь Смешарикам преодолеть множество кулинарных трудностей, собирать овощи с огорода, срывать фрукты с
        деревьев в саду, искать нужные ингредиенты в кладовке у Совы и готовить вкусные блюда.</p></h7>
    <p class="aligncenter">
        <img src="static/image/smeshariki.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Venba</h4>
    <h7><p>В Venba вам предстоит готовить блюда южноиндийской кухни и путешествовать вместе с семьей эмигрантов!</p>
    </h7>
    <p class="aligncenter">
        <img src="static/image/venba.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Pekoe</h4>
    <h7><p>Смешайте чай и дружбу во вкусном мире Pekoe, уютном симуляторе чаепития с кошками, в котором рассказывается о
        том, как уделять время уходу за собой и соединяться с тем, что делает вас счастливыми. Налаживайте отношения,
        улучшайте свой чайный домик и открывайте новые рецепты.</p></h7>
    <p class="aligncenter">
        <img src="static/image/pekoe.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Takoyaki Party Survival</h4>
    <h7><p>Чтобы выжить, вы должны потреблять хороший баланс белков, углеводов и жиров. Баланс питательных веществ
        меняется в зависимости от ингредиентов, которые вы добавляете в такояки. Если вы перегружены калориями, вы
        будете слишком сыты, чтобы есть, поэтому, пожалуйста, потребляйте калории, сидя на корточках.</p></h7>
    <p class="aligncenter">
        <img src="static/image/takoyaki.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Clouzy!</h4>
    <h7><p>Большинство туч спокойно парят в небесах, но эти милашки требуют ухода в своеобразном детсаде! Исследуйте
        мир, собирайте вкуснейшие фрукты и готовьте различные блюда в этой милой и доброй игре-ферме.</p></h7>
    <p class="aligncenter">
        <img src="static/image/clouzy.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h4 class="aligncenter">Chef: A Restaurant Tycoon Game</h4>
    <h7><p>Chef - это игра об управлении рестораном, в которой вы создаете своего собственного персонажа, приобретаете
        высшие кулинарные навыки, разрабатываете уникальное меню и инновационные рецепты с помощью реалистичного
        редактора</p></h7>
    <p class="aligncenter">
        <img src="static/image/chef.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
{% endblock %}
