{% extends 'base.html' %}

{% block title %}Рецепты{% endblock %}

{% block body %}
    <h1>Рецепты</h1>
    <h4 class="aligncenter">Креветки с сыром запеченные</h4>
    <p class="aligncenter">
        <img src=" static/image/zapechennye.jpg" width="70%"/>
    </p>

    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    </div>
    <div style="text-align: center;">
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <table border="1" width="70%" align="center">
            <thead>
            <tr>
                <th>Ингредиенты</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Креветки (королевские или тигровые)</td>
                <td>250 гр</td>
                <td>13.9 стак</td>
            </tr>
            <tr>
                <td>Фасоль стручковая зеленая</td>
                <td>125 гр</td>
                <td>5.7 ст.л</td>
            </tr>
            <tr>
                <td>Оливковое масло</td>
                <td>25.5 гр</td>
                <td>0.2 стак</td>
            </tr>
            <tr>
                <td>Чеснок</td>
                <td>5 гр</td>
                <td>1 зубч</td>
            </tr>
            <tr>
                <td>Лук</td>
                <td>40 гр</td>
                <td>0.5 шт</td>
            </tr>
            <tr>
                <td>Орегано сухой</td>
                <td>по вкусу</td>
                <td></td>
            </tr>
            <tr>
                <td>Перец черный молотый</td>
                <td>по вкусу</td>
                <td></td>
            </tr>
            <tr>
                <td>Соль</td>
                <td>по вкусу</td>
                <td></td>
            </tr>
            <tr>
                <td>Лимоны</td>
                <td>60 гр</td>
                <td>0.5 шт</td>
            </tr>
            <tr>
                <td>Оливки</td>
                <td>31.5 гр</td>
                <td>4.5 шт</td>
            </tr>
            <tr>
                <td>Рассольный сыр</td>
                <td>50 гр</td>
                <td>примерно 0.1 кг</td>
            </tr>
        </table>
        <h2>Технология приготовления:</h2>

        <h5 align="left">Шаг 1:</h5>
        <h6><p align="left"> Подготовьте все необходимые продукты. Выньте креветки из морозильной камеры и
            оставьте
            при
            комнатной
            температуре до полного оттаивания. Можно залить их прохладной водой, а спустя 20-30 минут слить воду и
            обсушить креветки бумажными полотенцами.</p>
            <h5 align="left">Шаг 2:</h5>
            <p align="left">Лук и чеснок очистите от кожуры. У фасоли срежьте хвостики. У зрелых стручков удалите
                усики
                по бокам.
                Лимон, лук и чеснок ополосните. Рассольный сыр измельчите руками или ножом на небольшие фрагменты.</p>
            <h5 align="left">Шаг 3:</h5>
            <p align="left">Креветки очистите от панцирей, удалите головы и хвосты. Уберите вену на спинке
                каждой.
                Обсушите мясо
                креветок салфетками.</p>
            <h5 align="left">Шаг 4:</h5>
            <p align="left">Отправьте креветки в глубокую тарелку или иную емкость. Добавьте оливковое масло без
                запаха,
                выжмите
                половину лимона, посолите, поперчите. Чеснок нашинкуйте ножом или пропустите через пресс, отправьте в
                тарелку. Все тщательно перемешайте и оставьте промариноваться на 5-10 минут.</p>
            <h5 align="left">Шаг 5:</h5>
            <p align="left">В это время залейте стручки фасоли кипятком и оставьте на пару минут. Если фасоль не
                очень
                молодая, то
                закиньте ее в кипящую воду и проварите 1-2 минуты, она будет более мягкой.</p>
            <h5 align="left">Шаг 6:</h5>
            <p align="left">На дно формы для запекания выложите ровным слоем зеленую фасоль.</p>
            <h5 align="left">Шаг 7:</h5>
            <p align="left">Уложите сверху маринованные креветки, а так же лук, предварительно нарезанный не
                очень
                тонкими перьями.
                Для более аппетитного вида готового блюда можно использовать красный лук, но можно взять обычный
                репчатый. Маринад, который остался от креветок, распределите поверх продуктов.</p>
            <h5 align="left">Шаг 8:</h5>
            <p align="left">Поставьте форму в заранее разогретую духовку и запекайте около 10 минут при
                температуре
                180-200 градусов
                на режиме "Верх-низ". Время запекания может увеличиться, ориентируйтесь на креветки, они должны
                покраснеть и скрутиться в колечки. Выньте креветки из духовки и сразу же посыпьте сыром. Сыр
                расплавится. Распределите оливки поверх сыра и креветок. Посыпьте блюдо зеленью.</p>
            <h5 align="left">Шаг 9:</h5>
            <p align="left">При желании перед подачей сбрызните еще раз соком лимона и слегка поперчите.</p>
            <p align="left">Приятного аппетита!</p></h6>
        <table border="1" width="100%" align="center">
            <thead>
            <tr>
                <th>Вес одной порции</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Ккал</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>587 г</td>
                <td>70 г</td>
                <td>47 г</td>
                <td>18 г</td>
                <td>751</td>
            </tr>
        </table>
        <h4>Курица запеченная с овощами в духовке</h4>
        <p class="aligncenter">
            <img src="static/image/pp.jpg" width="70%"/>
        </p>

        <style>
            .aligncenter {
                text-align: center;
            }
        </style>
    </div>
    <div style="text-align: center;">
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <table border="1" width="70%" align="center">
            <thead>
            <tr>
                <th>Ингредиенты</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Куриное филе</td>
                <td>83.3 гр</td>
                <td></td>
            </tr>
            <tr>
                <td>Брокколи</td>
                <td>58.3 гр</td>
                <td>0.2 шт</td>
            </tr>
            <tr>
                <td>Молодые кабачки</td>
                <td>66.7 гр</td>
                <td>0.3 шт</td>
            </tr>
            <tr>
                <td>Капуста брюссельская</td>
                <td>16.7 гр</td>
                <td>примерно 0.1 шт</td>
            </tr>
            <tr>
                <td>Зеленый горошек</td>
                <td>16.7 гр</td>
                <td>0.8 ст.л</td>
            </tr>
            <tr>
                <td>Болгарский перец</td>
                <td>20 гр</td>
                <td>0.2 шт</td>
            </tr>
            <tr>
                <td>Перец черный молотый</td>
                <td>по вкусу</td>
                <td></td>
            </tr>
            <tr>
                <td>Чеснок</td>
                <td>1.7 гр</td>
                <td>0.3 зубч</td>
            </tr>
            <tr>
                <td>Соль</td>
                <td>1.4 гр</td>
                <td>0.2 чайн.л</td>
            </tr>
            <tr>
                <td>Специи сухие</td>
                <td>0.4 гр</td>
                <td>примерно 0.1 чайн.л</td>
            </tr>
            <tr>
                <td>Оливковое масло</td>
                <td>8.5 гр</td>
                <td>2 чайн.л</td>
            </tr>
        </table>
        <h2>Технология приготовления:</h2>

        <h5 align="left">Шаг 1:</h5>
        <h6><p align="left">Подготовьте указанные продукты. Овощи можно выбрать любые, но не картофель. Можно взять
            замороженные готовые овощные смеси. От курицы возьмите куриное филе, можно взять другое куриное мясо, но без
            кожи. Сухие специи можно взять набором, а можно добавить те, какие нравятся. Оливковое масло можно заменить
            другим растительным.</p>
            <h5 align="left">Шаг 2:</h5>
            <p align="left">Подготовьте форму для запекания и включите разогреваться духовку до 180 градусов. Добавить
                овощи в выбранную форму для запекания.</p>
            <h5 align="left">Шаг 3:</h5>
            <p align="left">Кабачок, если молодой, то шкурку с него снимать не нужно. Порежьте кабачок произвольно -
                кружками, крупными кубиками, полукружками. Добавьте нарезанный кабачок в форму для запекания.</p>
            <h5 align="left">Шаг 4:</h5>
            <p align="left">Брокколи промойте под проточной холодной водой и встряхните от жидкости. Отделите соцветия и
                разберите их на более мелкие. Добавьте капусту к овощам.</p>
            <h5 align="left">Шаг 5:</h5>
            <p align="left">Болгарский перец помойте, срежьте плодоножку и освободите от семян. Еще раз промойте и
                порежьте. Добавьте в форму к овощам.</p>
            <h5 align="left">Шаг 6:</h5>
            <p align="left">Куриное филе промойте проточной холодной водой и обсушите полотенцем. Порежьте куриное филе
                крупными кусочками. Добавьте нарезанное куриное филе к овощам.</p>
            <h5 align="left">Шаг 7:</h5>
            <p align="left">Зубчики чеснока очистите от шкурки и пропустите через пресс. Добавьте в форму с овощами и
                курицей измельченный чеснок, сухие специи, соль и оливковое масло.</p>
            <h5 align="left">Шаг 8:</h5>
            <p align="left">Перемешайте равномерно овощи и курицу между собой. Поставьте форму в предварительно
                разогретую духовку на 30-40 минут. Через 15-20 минут перемешайте овощи и курицу. Запекайте до готовности
                курицы и овощей.</p>
            <p align="left">Приятного аппетита!</p></h6>
        <table border="1" width="100%" align="center">
            <thead>
            <tr>
                <th>Вес одной порции</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Ккал</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>247 г</td>
                <td>25 г</td>
                <td>11 г</td>
                <td>11 г</td>
                <td>232</td>
            </tr>
        </table>
        <h4>Творог с бананом</h4>
        <p class="aligncenter">
            <img src="static/image/tvorogs.jpg" width="70%"/>
        </p>

        <style>
            .aligncenter {
                text-align: center;
            }
        </style>
    </div>
    <div style="text-align: center;">
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <table border="1" width="70%" align="center">
            <thead>
            <tr>
                <th>Ингредиенты</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Творог</td>
                <td>150 гр</td>
                <td>6 ст.л</td>
            </tr>
            <tr>
                <td>Брокколи</td>
                <td>58.3 гр</td>
                <td>0.2 шт</td>
            </tr>
            <tr>
                <td>Бананы</td>
                <td>160 гр</td>
                <td>1 шт</td>
            </tr>
            <tr>
                <td>Мед</td>
                <td>5.2 гр</td>
                <td>0.5 чайн.л</td>
            </tr>
            <tr>
                <td>Ванилин</td>
                <td>0.5 гр</td>
                <td>примерно 0.1 чайн.л</td>
            </tr>
            <tr>
                <td>Сметана</td>
                <td>25 гр</td>
                <td>1 ст.л</td>
            </tr>
            <tr>
                <td>Грецкие орехи</td>
                <td>2.5 гр</td>
                <td>0.5 шт</td>
            </tr>
        </table>
        <h2>Технология приготовления:</h2>

        <h5 align="left">Шаг 1:</h5>
        <h6><p align="left">Подготовьте необходимые ингредиенты.Если это лакомство готовится для детей, то творог лучше
            использовать натуральный деревенский, с высоким процентом жирности. Для тех, кто следит за своей фигурой,
            можно взять обезжиренный продукт. Бананы лучше использовать хорошо спелые, чтобы они дали больше сладости
            десерту.</p>
            <h5 align="left">Шаг 2:</h5>
            <p align="left">Бананы помойте, очистите, нарежьте небольшими кусочками и отправьте в чашу блендера.</p>
            <h5 align="left">Шаг 3:</h5>
            <p align="left">Измельчите бананы до состояния пюре, если не получается, и банан остается кусочками, нужно
                добавить немного кипяченой холодной воды и снова включить блендер на пару минут.</p>
            <h5 align="left">Шаг 4:</h5>
            <p align="left">Добавьте к банану творог и сметану. Если творог слишком сухой или зернистый, то лучше
                заранее его протереть его через сито. Сметану можно использовать любой жирности. Для улучшения вкуса
                можно положить щепотку ванилина.</p>
            <h5 align="left">Шаг 5:</h5>
            <p align="left">Блендером взбейте все ингредиенты до получения однородной по консистенции массы.</p>
            <h5 align="left">Шаг 6:</h5>
            <p align="left">По вкусу добавьте сахар, мед или любой другой подсластитель. Еще раз перемешайте все
                ингредиенты блендером. Творожная масса должна стать немного пышной и воздушной при взбивании.</p>
            <h5 align="left">Шаг 7:</h5>
            <p align="left">Вкус десерта можно разнообразить, используя различные добавки, например, грецкие орехи.
                Кроме приятного орехового привкуса они сделают лакомство более полезным. Можно также добавить песочное
                печенье, Оставшийся банан нарежьте на кружочки, из них сделайте прослойку десерта и украшение для
                него.</p>
            <h5 align="left">Шаг 8:</h5>
            <p align="left">Заполните пиалы или стаканчики творожной массы до половины, , сверху положите несколько
                кусочков банана и печенья по желанию, а затем выложите оставшуюся творожную массу. Украсьте десерт
                измельченным грецким орехом, крошкой печенья, кружочками банана и листочком мяты. Бананы с творогом без
                выпечки готовы. Перед подачей к столу десерт можно охладить в холодильнике. </p>
            <p align="left">Приятного аппетита!</p></h6>
        <table border="1" width="100%" align="center">
            <thead>
            <tr>
                <th>Вес одной порции</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Ккал</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>348 г</td>
                <td>28 г</td>
                <td>21 г</td>
                <td>42 г</td>
                <td>505</td>
            </tr>
        </table>
        <h4>Овсяное печенье из овсяных хлопьев</h4>
        <p class="aligncenter">
            <img src="static/image/ovsyanoe.jpg" width="70%"/>
        </p>

        <style>
            .aligncenter {
                text-align: center;
            }
        </style>
    </div>
    <div style="text-align: center;">
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <table border="1" width="70%" align="center">
            <thead>
            <tr>
                <th>Ингредиенты</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Яйца</td>
                <td>0.5 шт</td>
                <td>6 чайн.л</td>
            </tr>
            <tr>
                <td>Овсяные хлопья (геркулес)</td>
                <td>16.7 гр</td>
                <td>0.2 стак</td>
            </tr>
            <tr>
                <td>Изюм</td>
                <td>8.3 гр</td>
                <td>примерно 0.1 стак</td>
            </tr>
            <tr>
                <td>Грецкие орехи</td>
                <td>8.3 гр</td>
                <td>1.7 шт</td>
            </tr>
            <tr>
                <td>Разрыхлитель</td>
                <td>примерно 0.1 ст.л</td>
                <td>примерно 0.1 чайн.л</td>
            </tr>
            <tr>
                <td>Молотая корица</td>
                <td>примерно 0.1 ст.л</td>
                <td>примерно 0.1 чайн.л</td>
            </tr>
        </table>
        <h2>Технология приготовления:</h2>

        <h5 align="left">Шаг 1:</h5>
        <h6><p align="left">Подготовьте необходимые ингредиенты. Сухофрукты можно взять любые по желанию, а также
            сушеные ягоды. Либо сделать микс. Если хотите снизить калорийность печенья, возьмите только белки от 4-5
            крупных яиц.</p>
            <h5 align="left">Шаг 2:</h5>
            <p align="left">Отмерьте половину овсяных хлопьев от общего количества и с помощью кофемолки измельчите их в
                муку. Остальное оставьте. Их нужно будет добавить неизмельченными.</p>
            <h5 align="left">Шаг 3:</h5>
            <p align="left">Овсяную муку соедините с корицей и разрыхлителем, просейте. Это обогатит муку кислородом и
                готовое печенье будет менее плотным.</p>
            <h5 align="left">Шаг 4:</h5>
            <p align="left">Изюм тщательно промойте, хорошо обсушите.</p>
            <h5 align="left">Шаг 5:</h5>
            <p align="left">Грецкие орехи порубите ножом.</p>
            <h5 align="left">Шаг 6:</h5>
            <p align="left">В подходящей по размеру миске взбейте яйца до однородности. Особой пышности здесь не
                требуется, поэтому можно воспользоваться вилкой или венчиком.</p>
            <h5 align="left">Шаг 7:</h5>
            <p align="left">К взбитым яйцам добавьте изюм и измельченные грецкие орехи. Перемешайте.</p>
            <h5 align="left">Шаг 8:</h5>
            <p align="left">Всыпьте овяную муку с разрыхлителем и корицей и геркулес. Хорошо перемешайте.</p>
            <h5 align="left">Шаг 9:</h5>
            <p align="left">Тесто получается довольно вязкое. Оставьте его, прикрыв сверху полотенцем, на 40 минут,
                чтобы овсяные хлопья размякли.</p>
            <h5 align="left">Шаг 10:</h5>
            <p align="left">Тесто станет более густым и теперь из него можно легко сформировать печенье.</p>
            <h5 align="left">Шаг 11:</h5>
            <p align="left">На застеленный пергаментом противень влажной ложкой выложите печенье толщиной не более 1
                см.</p>
            <h5 align="left">Шаг 12:</h5>
            <p align="left">Выпекайте овсяное печенье в заранее разогретой до 180 градусов духовке около 15 минут.
                Проверить готовность можно деревянной лучинкой. Если она выходит из печенья сухой, значит оно готово. Не
                передерживайте печенье, иначе оно получится излишне сухим.</p>
            <h5 align="left">Шаг 13:</h5>
            <p align="left">Полностью остудите и подавайте на стол.</p>
            <p align="left">Приятного аппетита!</p></h6>
        <table border="1" width="100%" align="center">
            <thead>
            <tr>
                <th>Вес одной порции</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Ккал</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>64 г</td>
                <td>7 г</td>
                <td>10 г</td>
                <td>18 г</td>
                <td>176</td>
            </tr>
        </table>
        </table>
        <h4>Салат с яблоками, грецкими орехами и сыром</h4>
        <p class="aligncenter">
            <img src="static/image/salat.jpg" width="70%"/>
        </p>

        <style>
            .aligncenter {
                text-align: center;
            }
        </style>
    </div>
    <div style="text-align: center;">
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <table border="1" width="70%" align="center">
            <thead>
            <tr>
                <th>Ингредиенты</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Шпинат</td>
                <td>75 гр</td>
                <td>12.5 шт</td>
            </tr>
            <tr>
                <td>Рассольный сыр</td>
                <td>50 гр</td>
                <td>примерно 0.1 кг</td>
            </tr>
            <tr>
                <td>Грецкие орехи</td>
                <td>15 гр</td>
                <td>3 шт</td>
            </tr>
            <tr>
                <td>Яблоки</td>
                <td>140 гр</td>
                <td>1 шт</td>
            </tr>
            <tr>
                <td>Яйца</td>
                <td>0.5 шт</td>
                <td>6 чайн.л</td>
            </tr>
            <tr>
                <td>Лук красный</td>
                <td>20 гр</td>
                <td>0.3 шт</td>
            </tr>
            <tr>
                <td>Оливковое масло</td>
                <td>25 мл</td>
                <td>1.3 ст.л</td>
            </tr>
            <tr>
                <td>Чеснок</td>
                <td>0.5 зубч</td>
                <td></td>
            </tr>
            <tr>
                <td>Уксус</td>
                <td>1 ст.л</td>
                <td></td>
            </tr>
            <tr>
                <td>Лимонный сок</td>
                <td>1 ст.л</td>
                <td></td>
            </tr>
            <tr>
                <td>Мед</td>
                <td>0.5 ст.л</td>
                <td></td>
            </tr>
            <tr>
                <td>Горчица зернистая</td>
                <td>0.5 ст.л</td>
                <td></td>
            </tr>
            <tr>
                <td>Смесь перцев молотых</td>
                <td>0.5 гр</td>
                <td>примерно 0.1 чайн.л</td>
            </tr>
            <tr>
                <td>Соль</td>
                <td>0.5 гр</td>
                <td></td>
            </tr>
        </table>
        <h2>Технология приготовления:</h2>

        <h5 align="left">Шаг 1:</h5>
        <h6><p align="left">Для начала подготовьте все необходимое для заправки. Оливковое масло можно заменить на
            подсолнечное. Вкуснее получится с нерафинированным. Если мед засахарился, предварительно растопите его в
            микроволновке или на пару.</p>
            <h5 align="left">Шаг 2:</h5>
            <p align="left">Чеснок очистите и пропустите через пресс или натрите на мелкой терке.</p>
            <h5 align="left">Шаг 3:</h5>
            <p align="left">В мисочке соедините оливковое масло, винный уксус, лимонный сок, жидкий мед, горчицу,
                измельченный чеснок, соль и перец. Все взбейте венчиком до однородности.</p>
            <h5 align="left">Шаг 4:</h5>
            <p align="left">Теперь подготовьте продукты для салата. Шпинат лучше используйте с небольшими листочками,
                молодой, его называют детский шпинат. Фетаксу можете заменить на фету, козий сыр, мягкий творожный сыр
                или
                рассольную белую моцареллу. Грецкие орехи при желании можете порезать на небольшие кусочки или оставить
                половинками.</p>
            <h5 align="left">Шаг 5:</h5>
            <p align="left">Шпинат вымойте, обсушите. Длинные черешки срежьте, оставив только листики.Обычный шпинат с
                достаточно крупными листьями, режьте на 2-3 части.</p>
            <h5 align="left">Шаг 6:</h5>
            <p align="left">Красную луковицу нарежьте полукольцами.</p>
            <h5 align="left">Шаг 7:</h5>
            <p align="left">Яйцо сварите вкрутую, охладите, очистите и нарежьте дольками.</p>
            <h5 align="left">Шаг 8:</h5>
            <p align="left">Яблоки вымойте, разрежьте на четыре части и удалите сердцевину. Нарежьте фрукты тонкими
                дольками. Яблоки нужно нарезать в последний момент после всех остальных ингредиентов, чтобы они не
                успели
                потемнеть.</p>
            <h5 align="left">Шаг 9:</h5>
            <p align="left">В большой миске соедините шпинат, красный лук, дольки яблок, раскрошенную фетаксу и
                грецкие орехи.</p>
            <h5 align="left">Шаг 10:</h5>
            <p align="left">Салат полейте заправкой и аккуратно перемешайте.</p>
            <h5 align="left">Шаг 11:</h5>
            <p align="left">Сверху украсьте салат дольками сваренного вкрутую яйца и подайте к столу.</p>
            <p align="left">Приятного аппетита!</p></h6>
        <table border="1" width="100%" align="center">
            <thead>
            <tr>
                <th>Вес одной порции</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Ккал</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>429 г</td>
                <td>21 г</td>
                <td>51 г</td>
                <td>39 г</td>
                <td>746</td>
            </tr>
        </table>
{% endblock %}
